<h1>Do you want one of these?</h1>
<p>Get in touch</p>

<div class="container" id="details">
  <ul class="square">
    <li>Shop address</li>
    <li>Phone number</li>
    <li>email</li>
  </ul>
</div>
