.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/raty.eot");
  src: url("fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("fonts/raty.svg#raty") format("svg");
  src: url("fonts/raty.ttf") format("truetype");
  src: url("fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}

.rated {
  text-align: center;
}

.rating {
  text-align: center;
}
/* line 3, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/landing_page.scss */
.carousel-inner > .item > img {
  margin: 0 auto;
}

/* line 7, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/landing_page.scss */
.carousel-indicators {
  position: relative;
}

/* line 11, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/landing_page.scss */
.carousel-indicators li {
  background-color: WhiteSmoke;
  background-color: rgba(70, 70, 70, 0.25);
  border: 1px solid WhiteSmoke;
}

/* line 17, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/landing_page.scss */
.carousel-indicators .active {
  background-color: #34495e;
}

/* line 21, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/landing_page.scss */
.carousel-caption {
  border: 1px solid black;
  border-radius: 8px;
  width: auto;
  color: #34495e;
  letter-spacing: 2px;
  background-color: #f5f5f5;
  margin: auto;
  opacity: 0.9;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
}

/* line 33, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/landing_page.scss */
.glyphicon {
  color: #34495e;
}

/* line 37, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/landing_page.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none !important;
  filter: none !important;
  progid: none !important;
}

/* line 43, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/landing_page.scss */
.glyphicon-euro {
  font-size: 0.8em;
}
/* line 4, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/products.scss */
.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default;
}

/* line 10, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/products.scss */
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}

/* line 14, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/products.scss */
.apple_pagination .disabled {
  color: #aaaaaa;
}

/* line 18, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/products.scss */
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

/* line 32, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/products.scss */
.apple_pagination a {
  text-decoration: none;
  color: black;
}

/* line 37, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/products.scss */
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}
/* line 1, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 5, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
body {
  padding-top: 70px;
}

/* line 11, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
h1,
h2,
h4,
p {
  font-family: Futura, sans-serif;
  color: #34495e;
  text-align: center;
}

/* line 20, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
p,
h4 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  line-height: 1.1;
}

/* line 27, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
.square {
  font-family: Futura, sans-serif;
  color: #34495e;
  text-align: center;
  margin: auto;
}

/* line 34, /Users/tiagolee78/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
.main-image {
  margin-left: auto;
  margin-right: auto;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

/*navbar*/


.navbar-default {
  background-color: #f5f5f5;
}

.navbar a:hover {
  color: white;
}

.navbar .nav > li > a:hover {
  color: white;
}

#nav_login_btn {
  margin: 8px 10px 0 1px;
}

/*navbar collapse breakpoint when the browser is below 1030px*/

@media (max-width: 1030px) {
  .navbar-header {
  float: none;
}

.navbar-left,.navbar-right {
  float: none !important;
}

.navbar-toggle {
  display: block;
}

.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-collapse.collapse {
  display: none!important;
}

.navbar-nav {
  float: none!important;
  margin-top: 7.5px;
}

.navbar-nav>li {
  float: none;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.collapse.in {
  display:block !important;
}

/*footer*/

.footer {
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  left: 0;
}

.text-muted {
  margin: 20px 0;
}
