// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 70px;
}

// general typography

h1,
h2,
h4,
p {
  font-family: Futura, sans-serif;
  color: #34495e;
  text-align: center;
}

p,
h4 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  line-height: 1.1;
}

.square {
  font-family: Futura, sans-serif;
  color: #34495e;
  text-align: center;
  margin: auto;
}

.main-image {
  margin-left: auto;
  margin-right: auto;
}

/****************/
/**** devise ****/
/****************/

.devise {
  background-color: #EEEEEE;
  height: 100vh;
}

.form-container-devise {
  background-color: #ffc107;;
  padding: 60px;
  border-radius: 2px;
}

.form-container-devise input {
  width: 100%;
  border-color: white;
  background-color: #ffc107;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  color: #fff;
}

.form-container-devise label,
.form-container-devise em,
.form-container-devise p {
  display: inline-block;
  color: #fff;
}

.form-container-devise i {
  color: #fff;
}

.form-container-devise h2,
.form-container-devise h3 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 0px;
  color: #fff;
}

.form-container-devise h3 {
  margin-top: 2em;
  margin-bottom: 10px;
}

.form-container-devise span {
  display: inline-block;
  color: #fff;
  width: 100%;
  text-align: center;
}

.form-container-devise .field {
  margin-bottom: 15px;
}

.form-container-devise input.btn-form-devise {
  background-color: #009688;
  color: #fff;
  padding: 1em;
  border-style: none;
  margin-top: 10px;
}
