// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 70px;
}

// general typography

h1,
h2,
p {
  font-family: Fester, Futura, sans-serif;
  color: #34495e;
  text-align: center;
}

p {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  line-height: 1.1;
}

.square {
  font-family: Fester, Futura, sans-serif;
  color: #34495e;
  text-align: center;
  margin: auto;
}

.main-image {
  margin-left: auto;
  margin-right: auto;
}

// footer

.footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  left: 0;
}

.text-muted {
  margin: 20px 0;
}

// carousel

.carousel-inner > .item > img {
  margin: 0 auto;
}

.carousel-indicators {
  position: relative;
}

.carousel-indicators li {
  background-color: WhiteSmoke;
  background-color: rgba(70, 70, 70, 0.25);
  border: 1px solid WhiteSmoke;
}

.carousel-indicators .active {
  background-color: #34495e;
}

.carousel-caption {
  border: 1px solid black;
  border-radius: 8px;
  width: auto;
  color: #34495e;
  letter-spacing: 2px;
  background-color: #f5f5f5;
  margin: auto;
  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.glyphicon {
  color: #34495e;
}

.carousel-control.left, .carousel-control.right {
  background-image: none !important;
  filter: none !important;
  progid:none !important;
}

.glyphicon-euro {
  font-size: 0.8em;
}
