<p id="notice"><%= notice %></p>

<div class="header">
  <h1>Products</h1>
</div>

<div class="container-fluid">
  <div class="row products">
    <%= render @products %>
  </div>
</div>



<% if false %>
<!-- this code is commented out by if -->
<%= link_to “New Product”, new_path%>
<% end %>
