<p id="notice"><%= notice %></p>

<div class="header">
  <h1>Products</h1>
  <p class="new_product"><%= link_to 'Add A New Product', new_product_path %></p>
</div>

<div class="container-fluid">
  <div class="row products">
    <% cache (cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div>
</div>
